/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centralizar o conteúdo principal */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

/* Estilo do título */
h1 {
  color: #333;
}

/* Estilo do campo de entrada e botão */
.input-container {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
  width: 340px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: #28a745;
  color: white;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

/* Estilo da lista de tarefas */
.lista-tarefas {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

/* Estilo de cada tarefa */
.tarefa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.tarefa:last-child {
  border-bottom: none;
}

.indice {
  margin-right: 10px;
  font-weight: bold;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

/* Estilo dos botões de filtro */
.filtros {
  margin-top: 20px;
}

/* Botões de filtro */
.filtros button {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.filtros button:hover {
  background-color: #0056b3;
}

/* Media Query para dispositivos móveis */
@media (max-width: 600px) {
  h1 {
    font-size: 1.6em;
  }

  .input-container {
    flex-direction: column;
    align-items: stretch;
  }

  input[type="text"] {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    border-radius: 4px;
    border-left: 1px solid #ccc;
  }

  .lista-tarefas {
    max-height: 50vh;
  }

  .filtros {
    display: flex;
    /* flex-direction: column; */
    align-items: stretch;
  }

  .filtros button {
    margin: 5px 0;
    width: 100%;
  }
}
